*~
*.swp
*.pyc
.DS_Store
logs
replay
*.db
.installed.cfg
parts
develop-eggs
bin
eggs
downloads
lib
*.egg-info
.mr.developer.cfg
sphinx
.project
.pydevproject
.settings
submitted.sql3
*.backup
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex.gz
*.orig
*.txt

